.submitButton {
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.submitButton:disabled {
    background-color: gray;
    cursor: not-allowed;
}
